body {font-family: "Roboto", sans-serif; 
    background-color: #ffffff;
    color: #434455;}
    a {text-decoration: none;}
    ul,ol {
        margin-top: 0px;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
    }
    h1,h2,h3,h4,h5,h6,p 
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    button {cursor: pointer;}
    img {display: block;
    max-width:100%;
    height:auto;}
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    /* common */
    .container 
{
    max-width:320px;
    padding:0 16px;
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .container {
        max-width:768px;
    }
}
@media screen and (min-width:1158px) {
    .container {
        max-width:1158px;
        padding: 0 15px;
    }
}
    /* header */
    .header-page {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;}
    .header-container{
            align-items: center;
            display: flex;
            justify-content: space-between;
            
    }
    .nav-list,
    .addrs
     {
        display: none;
    }
    .logo-header 
    {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
    }
    .header-span {
        color: #2e2f42;
    }
    .burger-btn {
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .burger-icon {
        display: block;
        fill: #2f2f37;
    }

    @media screen and (min-width:768px) {
        .burger-btn {
          display: none;
            
        }
    
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .logo-header {
        padding: 24px 0;
        margin-right: 120px;
    }
    .addrs {
        font-style: normal;
        display: block;
    }
    .navy-page {
        display: flex;
        align-items: center;
    }
    .nav-link {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        }
    .nav-link:focus,
    .nav-link:hover {
        color: #404bbf;}
        .nav-active::after {
            content: '';
            display: block;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background-color: #404bbf;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: #404bbf;
            border: 1px solid #000;
    }
    .nav-active {position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .addrs-list {
        display: flex;
        gap:12px;
        flex-direction: column;
    }
    .addrs-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        transition: 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    }
   
    @media screen and (min-width: 1158px) {
        .logo-header {
            margin-right: 76px;
        }
        .addrs-list {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
        .addrs-link {
            
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            padding: 24px 0;
        }
    }
 /* Mobile Menu */
    .mobile-menu-wrapper {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        background-color: #fff;
        z-index: 99999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu-wrapper.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }
    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 24px;


    }
    .menu-icon-close {
        fill: #2e2f42;
    }
    .mobile-menu-nav {
        
    }
    .mobile-list {
        width: 151px;
        height: 200px;
        display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 40px;
                margin-left:  16px;
                margin-top: 72px;
                margin-right: 153px;
                margin-bottom: 168px;
               
        
    
    }
        .mobile-link.mobile-active{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #404bbf;
        }
        .mobile-item {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #2e2f42;
            
      
            
        }
        .mobile-link {
            font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
                }
                .menu-addrs-list {
                    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        width: 193px;
        height: 72px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-style: normal;
        }
        .menu-addrs-item {
            
        }
        .menu-addrs-link {
        }
        .addrs-container {
            margin-left: 16px;
            margin-bottom: 48px;
            
            

        }
        .mobile-menu-close {
            position: absolute;
            top: 24px;
            right: 24px;
            border: none;
            width: 24px; 
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            
          
            border-radius: 50%;
            background-color: #e7e9fc;
            fill: #e7e9fc;
            stroke-width: 1px;
            stroke: #2e2f42;
            border-radius: 100%;
            background-color: #fff;
            fill: #e7e9fc;
            stroke-width: 1px;
            
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        }
        .menu-icon-close {
            fill: #2e2f42;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
  
        .media-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 16px;
            margin-right: 24px;
            margin-bottom: auto;
            
            
        }
        .media-list {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            
            gap: 40px;
            width: 280px;
height: 40px;
align-items: center;

    
        }
        .media-item {
            width: 100%;
    height: 100%;
    background-color:#4d5ae5 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
            
            
    

        }
        .media-link {
            
            
            
            
        }
        .media-svg {
            fill: #f4f4fd;
            
        }
    @media screen and (min-width:768px) {
        .mobile-menu-wrapper {
            display: none;
        }
        }
    
/* HERO */
        .hero 
        { 
                 
        background-color: #2e2f42;
        
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-hero.png);
            
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 320px;
        height: 432px;
        align-items: center;
        margin: auto;
        padding: 0;
        
       
        }
        .hero-title{
          
            font-weight: 700px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #ffffff;
    
    text-align: center;
    
    color: #fff;
    width: 216px;
    height: 160px;
    margin: auto;
    padding-top: 72px;
    
        }
        .hero-btn {
            display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
text-align: center;
background: #4d5ae5;
color: #fff;
margin: auto;
margin-top: 144px;

border: none;
        }
    /*sect TWO*/
    .subject
    {
        margin:0 auto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }
    .description {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .subject-container {
        display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
width: 288px;
height: 120px;
margin-bottom: 72px;
    }
    .subject-container-last{
        display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
width: 288px;
height: 120px;
margin-bottom: 96px;
    }
      /* sect THREE*/
    .section-three {
        background: #f4f4fd;
    }
    .title-three-sect {
        font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-top: 96px;
padding-bottom: 72px;
    }  
    .item-sect-three {
        display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
margin-bottom: 72px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
border-radius: 0 0 4px 4px;

width: 100%;
height: 428px;

    }
    .item-sect-three:last-child{
        margin-bottom: 96px;
    }
    .list-sect-three
    {

    }
    
        
    .info-subj {
        width: 232px;
height: 104px;
        margin:16px 32px   ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
}
.subject-name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.description-prof {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.sect-three-list-icons {
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 24px;

}
.sect-three-svg {
    fill: #f4f4fd;
}
.sect-three-item-icons {
   
}
.sect-three-link { 
    width: 100%;
    height: 100%;
    background-color:#4d5ae5 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    width: 40px;
    height: 40px;

 

}







    

    
}
.mobile-link AAAA{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;




    



























