body {font-family: "Roboto", sans-serif; 
    background-color: #ffffff;
    color: #434455;}
    a {text-decoration: none;}
    ul,ol {
        margin-top: 0px;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
    }
    h1,h2,h3,h4,h5,h6,p 
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    button {cursor: pointer;}
    img {display: block;
    max-width:100%;
    height:auto;}
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    /* common */
    .container 
{
    max-width:320px;
    padding:0 16px;
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .container {
        max-width:768px;
    }
}
@media screen and (min-width:1158px) {
    .container {
        max-width:1158px;
        padding: 0 15px;
    }
}
    /* header */
    .header-page {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;}
    .header-container{
            align-items: center;
            display: flex;
            justify-content: space-between;
    }
    .nav-list,
    .addrs
     {
        display: none;
    }
    .logo-header 
    {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
    }
    .header-span {
        color: #2e2f42;
    }
    .burger-btn {
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .burger-icon {
        display: block;
        fill: #2f2f37;
    }

    @media screen and (min-width:768px) {
        .burger-btn {
          display: none;
            
        }
    
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .logo-header {
        padding: 24px 0;
        margin-right: 120px;
    }
    .addrs {
        font-style: normal;
        display: block;
    }
    .navy-page {
        display: flex;
        align-items: center;
    }
    .nav-link {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        }
    .nav-link:focus,
    .nav-link:hover {
        color: #404bbf;}
        .nav-active::after {
            content: '';
            display: block;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background-color: #404bbf;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: #404bbf;
            border: 1px solid #000;
    }
    .nav-active {position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .addrs-list {
        display: flex;
        gap:12px;
        flex-direction: column;
    }
    .addrs-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        transition: 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    }
   
    @media screen and (min-width: 1158px) {
        .logo-header {
            margin-right: 76px;
        }
        .addrs-list {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
        .addrs-link {
            
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            padding: 24px 0;
        }
    }
 /* Mobile Menu */
    .mobile-menu {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color:#000;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }
    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 24px;


    }
    .mobile-menu-nav {
        margin-bottom: auto;
    }
 
    @media screen and (min-width:768px) {
        .mobile-menu {
            display: none;
        }

    }


        
    
        


































